* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color:black;
  line-height: 1.6;
  font-size: 16px;
  background-attachment: scroll;
}

.navbar {
  background-color: white;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}

.nav-container {
display: flex;
justify-content: space-between;
padding: 1rem 3rem;
padding-bottom: 0;
position: relative;
}

.nav-container a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2rem;
}

.nav-container p {
    font-size: smaller;
    transform: translateY(-50%);
}

.nav-left, .nav-right {
    display: flex;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    gap: 1.5rem;
    padding-top: 0.9rem;
}

.nav-left {
    display: block;
    justify-items: left;
}

.nav-title a {
    font-size: larger;
}

.hamburger {
  display: none;
  position: relative;
  width: 24px;
  height: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  z-index: 1001; /* keep above menu */
}

.hamburger span {
  position: absolute;
  width: 100%;
  height: 4px; /* thinner lines */
  background: black;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  transform: translateY(-8px);
}

.hamburger span:nth-child(2) {
  transform: translateY(0);
}

.hamburger span:nth-child(3) {
  transform: translateY(8px);
}


.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 998;
}

.mobile-menu.active {
  display: flex;
}

.mobile-menu li {
  list-style: none;
  width: 100%;
}

.mobile-menu li a {
  font-family: 'Poppins', sans-serif;
  display: block;
  padding: 1rem;
  color: black;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  font-weight: bold;
}

.mobile-menu li a:hover {
  background-color: #333;
}

.hero-section {
  position: relative;
  width: 100%;
   margin-top: 5rem;
}

.hero-img {
    width: 100%;
    height: 600px;
    object-position: 20% 40%;
    object-fit: cover;
    z-index: -999;
    filter: brightness(0.6);
    pointer-events: none;

}

.hero-text {
    position: absolute;
    z-index: 1;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 3rem;
    justify-items: left;
    
}

.hero-text h1{
    font-size: 3rem;
    line-height: 60px;
}

.hero-text button{
    background-color: white;
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 1rem;
    font-size: medium;
}

.hero-text button span {
    padding: 0 0.5rem;
}

.about {
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    gap: 4rem;
}

.about-text {
    flex: 3;
    text-align: left;
}

.about-text p {
    text-align: justify;
}

.about-img {
    flex: 2;
}

.profile-pic{
    object-fit: cover;
    width: 450px;
    height: 500px;
    transform: scaleX(-1);
    border-radius: 10%;
    margin: 0;
    padding: 0;
}

.content-types {
    position: relative;
    background-color: #333;
    color: white;
    height: 530px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 3rem 5rem 3rem 5rem; /* top, right, bottom, left */
}

.content-types h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.content-row {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.content-row ::-webkit-scrollbar {
  display: none;  /* Chrome, Safari */
}

.content-box {
    height: 350px;
    width: 300px;
    border: 3px solid white;
    border-radius: 15px;
    background-color: transparent;
    text-align: center;
    padding: 10px;
    scroll-snap-align: center;  /* snap each box into center of view */
    flex: 0 0 auto;             /* prevent shrinking, keeps full width */
}

.content-img {
    height: 260px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.scroll-btn {
  background: none;
  position: absolute;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 2;
  transition: background 0.3s ease;
  top: 60%;
  transform: translateY(-50%);
}

.scroll-btn:hover {
  background: #333;
}

.scroll-btn.left {
  right: 1rem;
}

.scroll-btn.right {
  left: 1rem;
}

.contactme {
    height: 700px;
    padding: 3rem;
    margin-bottom: 3rem;
}

.contactme h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.form-wrapper {
    background-color: #D9D9D9;
     padding: 2rem;
    border-radius: 12px;
    max-width: 1000px;
    height: auto;;
    margin: auto;
}

.form-wrapper h3, p {
    text-align: center;
    padding-top: 1rem;
}

.form-wrapper h3 {
    font-size: 1.6rem;
    padding-top: 0;
}

.form-wrapper p {
    font-size: 1.2rem;
}

.form-row {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.form-group {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.form-group input,
.form-group textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  padding: 0.6rem;
  border: 2px solid black;
  border-radius: 5px;
  background: transparent;
  color: #000000;
}

.form-group label {
  position: absolute;
  top: 1.2rem;
  left: 12px;
  transform: translateY(-50%);
  background: transparent; /* match your form background */
  padding: 0 5px;
  color: #000000;
  font-size: 16px;
  pointer-events: none;
   transition: all 0.35s ease; /* smooth animation */
}

/* When input is focused or not empty */
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
  top: -8px;
  left: 10px;
  font-size: 16px;
  color: black; /* highlight color */
}

textarea {
  resize: vertical;
}

.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form-check input[type="checkbox"] {
    appearance: none;             /* remove native UI */
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 0.5rem;
  width: 20px;
  height: 20px;
  border: 2px solid #000;       /* thicker border */
  border-radius: 4px;
  background: transparent;      /* transparent box */
  display: inline-grid;
  place-content: center;
  cursor: pointer;
  position: relative;
}

.form-check input[type="checkbox"]::after {
  content: "";
  width: 6px;
  height: 12px;
  border-right: 2.5px solid #000000;   /* check color */
  border-bottom: 2.5px solid #000000;
  transform: scale(0) rotate(45deg); /* hidden by default */
  transform-origin: bottom left;
  position: absolute;
  top: -35%;
  left: 0%;
  transition: transform 0.2s ease-in-out;
  justify-content: center;
}

/* Show the checkmark when checked */
.form-check input[type="checkbox"]:checked::after {
  transform: scale(1) rotate(45deg);
  
}

/* Accessible focus state */
.form-check input[type="checkbox"]:focus-visible {
  outline: 2px solid #000000;
  outline-offset: 2px;
}

.form-check a {
  color: #A46656;
  text-decoration: none;
  font-weight: bold;
}

.submit-btn {
  background-color: #A46656;
  color: black;
  font-weight: bold;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Poppins', sans-serif;
}

.submit-btn:hover {
  background: #ff9900;
}



.site-footer {
    background-color: #272222;
    padding: 1rem 3rem;
}

.site-footer p {
    text-align: left;
    color: white;
}

.top {
    text-align: center;
}

.site-footer a{
    color: #A46656;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.social-icons {
    display: flex;
    gap: 1rem;
    padding:0.5rem 0;
}

.social-icons a {
    background: white;
     color: black;
     border-radius: 50%;
     width: 30px;
     height: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 18px;
    transition: all 0.3s ease;
    text-decoration: none;
}

@media (max-width: 600px) {

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; 
    padding: 0 2rem;
    max-height: 4rem;
  }

  .hamburger {
    display: block;
    flex-shrink: 0; /* prevent shrinking */
    margin-left: auto; /* push it to the far right */
    padding-top: 0.5rem;
  }

  .nav-left {
    display: block;
   
  }
  
.nav-title h3 {
  font-size: 1.2rem;
  padding-top: 1.3rem;
}

.nav-container p {
    font-size: smaller;
    transform: translateY(-60%);
}

  .nav-right {
    display: none;
  }

   .mobile-menu {
    display: none;
  }

  .mobile-menu.active {
    display: flex;
  }

  .hero-section {
    margin-top: 0;
  }

  .hero-img {
    height: 700px;
  }

  .hero-text {
    padding-left: 2rem;
  }

.hero-text h1 {
    font-size: 2rem;
    line-height: 2.8rem;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 2rem;
}

.profile-pic {
    margin: 0 1%;
    justify-self: center;
    margin-right: 0.5rem;
    width: 420px;
    height: 470px;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
}

.about p {
    font-size: 1rem;
}

.content-box {
    height: 300px;
    width: 280px;
}

.content-img {
    height: 220px;
    width: 210px;
}

.content-types {
    padding: 3rem 6rem;
}

.form-wrapper {
    height: auto;
}

.form-row {
  gap: 0;
}

.contactme {
   height: fit-content;
}

.contactme h2 {
    font-size: 1.5rem;
}

.contactme h3 {
    font-size: 1.2rem;
}

.contactme p {
    font-size: 1rem;
}

.site-footer {
  padding: 1rem 2rem;
}

}

@media (min-width: 601px) and (max-width: 800px) {
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; 
    padding: 0 2rem;
    max-height: 4rem;
  }

  .hamburger {
    display: block;
    flex-shrink: 0; /* prevent shrinking */
    margin-left: auto; /* push it to the far right */
    padding-top: 0.5rem;
  }

  .nav-left {
    display: block;
   
  }
  
.nav-title h3 {
  font-size: 1.2rem;
  padding-top: 1.3rem;
}

.nav-container p {
    font-size: smaller;
    transform: translateY(-60%);
}

  .nav-right {
    display: none;
  }

   .mobile-menu {
    display: none;
  }

  .mobile-menu.active {
    display: flex;
  }

  .hero-section {
    margin-top: 0;
  }

  .hero-img {
    height: 700px;
  }

  .hero-text {
    padding-left: 2rem;
  }

.hero-text h1 {
    font-size: 2rem;
    line-height: 2.8rem;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 2rem;
}

.profile-pic {
    margin: 0 1%;
    justify-self: center;
    margin-right: 0.5rem;
    width: 420px;
    height: 470px;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
}

.about p {
    font-size: 1rem;
}

.content-box {
    height: 300px;
    width: 280px;
}

.content-img {
    height: 220px;
    width: 210px;
}

.content-types {
    padding: 3rem 7rem;
}

.form-wrapper {
    height: auto;
}

.form-row {
  gap: 20px;
}

.contactme {
   height: fit-content;
}

.contactme h2 {
    font-size: 1.5rem;
}

.contactme h3 {
    font-size: 1.2rem;
}

.contactme p {
    font-size: 1rem;
}

.site-footer {
  padding: 1rem 2rem;
}
}

@media (min-width: 801px) and (max-width: 900px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; 
    padding: 0 3rem;
    max-height: 4rem;
  }

  .nav-left {
    display: block;
   
  }

.nav-right {
  padding-top: 0;
}
  
  .nav-right a {
    font-size: large;
}
  
.nav-title h3 {
  font-size: 1.2rem;
  padding-top: 1.3rem;
}

.nav-container p {
    font-size: smaller;
    transform: translateY(-60%);
}

   .mobile-menu {
    display: none;
  }

  .mobile-menu.active {
    display: flex;
  }

  .hero-section {
    margin-top: 0;
  }

  .hero-img {
    height: 700px;
  }

  .hero-text {
    padding-left: 3rem;
  }

.hero-text h1 {
    font-size: 2.5rem;
    line-height: 3.2rem;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 3rem;
}

.profile-pic {
    margin: 0 1%;
    justify-self: center;
    margin-right: 0.5rem;
    width: 420px;
    height: 470px;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
}

.about p {
    font-size: 1rem;
}

.content-box {
    height: 300px;
    width: 280px;
}

.content-img {
    height: 220px;
    width: 210px;
}

.content-types {
    padding: 3rem 7rem;
}

.form-wrapper {
    height: auto;
}

.form-row {
  gap: 20px;
}

.contactme {
   height: fit-content;
}

.contactme h2 {
    font-size: 1.5rem;
}

.contactme h3 {
    font-size: 1.2rem;
}

.contactme p {
    font-size: 1rem;
}

.site-footer {
  padding: 1rem 2rem;
}
}

@media (min-width: 901px) and (max-width: 1060px) {
.about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 3rem;
}

.profile-pic {
    margin: 0 1%;
    justify-self: center;
    margin-right: 0.5rem;
    width: 420px;
    height: 470px;
    margin-bottom: 1rem;
}  
}